{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off",
    // "indent": [
    //   "error",
    //   2
    // ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    // "quotes": [
    //   "error",
    //   "single"
    // ],
    "semi": [
      "error",
      "always"
    ],
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$"
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
