; This is a sample configuration file

DB_HOST = 'DBHOST'
DB_PORT = '3306'
DB_NAME = 'DATABASE'
DB_USERNAME = 'MYUSER'
DB_PASSWORD = 'MYPWD'

MC_HOST[] = 'MCHOST'
MC_PORT = '11211'

FACEBOOK_OAUTH_APP_ID = ''
FACEBOOK_OAUTH_APP_SECRET = ''
GOOGLE_OAUTH_FILE = ''
