@import "reset";
@import "variables";
@import "typography";
@import "icons";
@import "global";
@import "layout";
@import "navigation-branding";
@import "components";
@import "modals";
@import "pages";
@import "gameboard";
@import "admin";

/* --------------------------------------------
 * --mobile only
 * -------------------------------------------- */

@include break-max(960px) {
  h1 {
    font-size: 2.4em;
  }

  html, body,
  .fb-page {
    height: 100%;
  }

  #fb-admin-nav,
  #fb-main-nav,
  .fb-navigation.fb-main-nav ul,
  .fb-page-footer {
    display: none;
  }

  .fb-viewport .fb-admin-main {
    background: transparent;
  }

  .branding .branding-el,
  .branding .separator {
    display: inline-block;
    visibility: visible;
  }

  .page--mobile .branding-el {
    text-align: center;
    padding: 20px;

    @include purista-bold;
  }

  .branding-rules {
    display: inline-block;
    padding: 8px 0;
    border-top: 1px solid $light-blue;
    border-bottom: 1px solid $light-blue;
  }
}
